@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.dhs_link:hover {
    color: #007bff !important;
    text-decoration: none !important;
}

.dhs_profile-picture {
    width: 166px;
    height: 166px;
}