/* Navbar take over */

#dhs_navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 10;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
}


/* Main page style take over */

.dhs_main-page {
    position: relative !important;
    padding-top: 80px;
}


/* Link take over */

.nav-link {
    padding: 8px !important;
}

.dhs_link:hover {
    color: #007bff !important;
    text-decoration: none !important;
}

.dhs_link-dark {
    color: #343a40 !important;
    text-decoration: none !important;
}

.dhs_mobile-link-dark {
    color: #343a40;
}

.dhs_mobile-link-dark:hover,
.dhs_mobile-link-dark.active {
    color: #007bff !important;
    text-decoration: none !important;
}


/* Button take over */

.dhs_btn-text-white {
    color: #fff !important;
}


/* h5 take over */

.dhs_h5 {
    margin: 0 !important;
}


/* Dropdown take over */

.dhs_dropdown-item:hover,
.dhs_dropdown-item.active {
    color: #16181b !important;
    text-decoration: none !important;
    background-color: #f8f9fa !important;
}

#dhs_dropdown-menu {
    left: -18px !important;
}


/* Profile picture take over and responsive */

#dhs_profile-picture {
    width: 75px;
    height: 75px;
    border: 1px solid #cfd7df;
}

.dhs_pp-post-detail {
    width: 50px;
    height: 50px;
    border: 1px solid #cfd7df;
}

.dhs_mobile-nav {
    width: 16px;
    height: 16px;
    border: 1px solid #cfd7df;
}

.dhs_mobile-nav:hover,
.dhs_mobile-nav.active {
    border: 2px solid #007bff;
}


/* Whatever */

.dhs_posts-info {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}


/* Additional divs for responsive */

#dhs_navbar-dropdown, #dhs_row-default,
#dhs_profile1, #dhs_show-post-default, #dhs_pff-tab {
    display: none !important;
}

#dhs_navbar-nav, #dhs_profile2, #dhs_bottom-btn,
#dhs_show-post-responsive {
    display: block !important;
}

#dhs_pff-phone {
    display: -ms-flexbox !important;
    display: flex !important;
}

#dhs_row-responsive {
    display: -ms-flexbox !important;
    display: flex !important;
    flex-wrap: wrap !important;
    margin-right: -15px !important;
    margin-left: -15px !important;
}

#dhs_pp-div-responsive {
    display: block !important;
    padding: auto !important;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#dhs_profile-detail-responsive {
    display: block !important;
    margin: auto 0 !important;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

#dhs_mobile-button {
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 5;
    background-color: #fff;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


/* Responsive */

@media only screen and (min-width: 600px) {
    #dhs_profile-picture {
        width: 100px;
        height: 100px;
        border: 1px solid #cfd7df;
    }
    
    #dhs_profile1 {
        display: block !important;
    }

    #dhs_pff-phone, #dhs_profile2 {
        display: none !important;
    }

    #dhs_pff-tab {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media only screen and (min-width: 992px) {
    #dhs_profile-picture {
        width: 166px;
        height: 166px;
    }

    #dhs_navbar-dropdown, #dhs_show-post-default {
        display: block !important;
    }

    #dhs_navbar-nav, #dhs_row-responsive, #dhs_bottom-btn,
    #dhs_mobile-button, #dhs_show-post-responsive {
        display: none !important;
    }

    #dhs_row-default {
        display: -ms-flexbox !important;
        display: flex !important;
        flex-wrap: wrap !important;
        margin-right: -15px !important;
        margin-left: -15px !important;
    }
}