@font-face {
    font-family: Viga;
    src: url(../assets/fonts/Viga-Regular.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    overflow-x: hidden;
    background-color: #000 !important;
}

.section {
    display: block;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 25px auto 0 auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.shadow-dark {
    -webkit-box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.pl-40 {
    padding-left: 40px;
    padding-right: 5px;
}

.pr-40 {
    padding-left: 5px;
    padding-right: 40px;
}

.pl-custom {
    padding: 0 10px 25px 40px;
}

.pr-custom {
    padding: 0 40px 25px 10px;
}

.home {
    display: -ms-flexbox;
    display: flex;
}

.home .intro {
    text-align: center;
    padding: 0 25px;
}

.home .intro img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #fff;
}

.home .intro h1 {
    font-size: 30px;
    color: red;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

.home .intro p {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    margin: 0;
}

.home .intro p span {
    color: red;
}

.about .about-content {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .personal-info {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item,
.about .about-content .personal-info p {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .personal-info p,
.about .about-content .personal-info .info-item p {
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
}

.about .about-content .personal-info p {
    text-align: justify;
    line-height: 25px;
    color: #fff;
    margin: 0;
}

.about .about-content .personal-info .info-item p {
    font-weight: 600;
    color: #fff;
    border-bottom: 1px solid #e8defc;
}

.about .about-content .personal-info .info-item p span {
    font-weight: 400;
    color: #e9e9e9;
}

.about .about-content .edex {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    display: -ms-flexbox;
    display: flex;
}

.about .about-content .edex-title {
    font-size: 18px;
    margin-bottom: 5px;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.about .about-content .edex .timeline {
    background-color: #222222;
    padding: 10px;
    border: 1px solid #d4d4e3;
    border-radius: 10px;
    width: 100%;
}

.about .about-content .edex .timeline .timeline-item {
    position: relative;
    padding: 0 0 0 30px;
}

.about .about-content .edex .timeline .item-last-child {
    padding-bottom: 0;
}

.about .about-content .edex .timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: red;
}

.about .about-content .edex .timeline .circle-dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    left: 0px;
    border-radius: 50%;
    background-color: red;
}

.about .about-content .edex .timeline .timeline-date {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    margin-bottom: 5px;
}

.about .about-content .edex .timeline i {
    margin-right: 5px;
}

.about .about-content .edex .timeline .timeline-title {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: red;
    margin-bottom: 5px;
}

.about .about-content .edex .timeline .timeline-subtitle {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
}

.about .about-content .edex .timeline .timeline-text {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #fff;
    padding: 0 0 0 20px;
}